
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'jquery_ujs'%>
<%= stylesheet_link_tag 'admin', media: 'all' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tag %>
<div class="user-data-form-container">


      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

<div class="action-title">Upload images</div>
<div class="action-description">These will be saved to your Amazon S3 bucket</div>

<%= form_for(:image, url: admin_upload_path, html: {multipart: true}) do |f| %>
<br>
	<%= f.label :image %>
	<%= f.file_field :image, class: 'upload-btn', accept: 'image/jpeg, image/gif, image/png' %>
	<%= f.hidden_field :image_cache %>
	<%= f.submit "Upload image" %>

<script>
	document.getElementsByClassName('upload-btn')[0].addEventListener('change', function() {
		var size_megabytes = this.files[0].size/1024/1024
		if(size_megabytes > 5){
			alert('Maximum file size is 5 MB. Please choose a smaller file')
			}
	});
	// add clear input later
</script> 
<% end %>
</div>
