
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'jquery_ujs'%>
<%= stylesheet_link_tag 'admin', media: 'all' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tag %>
<div class="user-data-form-container">


      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

<div class="action-title">Upload images</div>
<div class="action-description">These will be saved to your Amazon S3 bucket</div>

<% s3 = Aws::S3::Client.new %>

<%# s3::list_objects(bucket:ENV['AWS_S3_BUCKET'], prefix: full_dir).contents.map(&:key).slice(1..-1).count %>

<% files_in_bucket = s3.list_objects(bucket: ENV['AWS_S3_BUCKET'], encoding_type: 'url').contents.map(&:key) %>

<style>
li {
margin-left: 100px;
margin-top: 20px;
margin-bottom: 20px;

}
ul, span {
cursor: pointer;

}

.upload-dir-container {
border: 1px solid blue;
background-color: rgb(200, 200, 200);
text-decoration: underline blue;

}

.selected {
background-color: blue;
color: white;
font-weight: bold;
font-style: italic;

}
</style>

<span class="action-title">File Manager</span>
<span class="action-description">Here you can browse the files currently in your S3 bucket</span>
<p class='action-description'>Notes:<br>Ctrl + left click (or long touch on mobile devices) selects/unselects files</p>

<div class="upload-dir-container", id="root">
</div>

<%= button_to "Download file", admin_upload_path, class: 'file-manager-button', :id => "download-file", :remote => false %>
<%= button_to "Delete files", admin_upload_path,  class: 'file-manager-button', :id => "delete-files" %>

<script>


	var root = document.getElementById("root");


	var myArray = <%= raw files_in_bucket %>

	var currentIndex = 0;
	var fileREGEX = /([\w]+[.]*[\w]+\/)*([\w]+[.]*[\w]+.*\-*)/; //  gets all directories + filenames with . and -
	var folderREGEX = /([\w]+[.]*[\w]+\/)*/; // all directories, excludes files
	var singleFolderREGEX = /([\w]+[.]*[\w]+\/)/; //get just a single folder

	var counter = 0;
	var currentFolder = root;
	var parentFolder = root;

	/*function createFolder(object, currIndex){
		if(counter > myArray.length*2) { //a counter twice the length of the array's, just so the browser doesn't crash in cases of errors.
			return;
		}
		else {
		
			var newFolder = document.createElement("ul");//.classList.add("folder");
			newFolder.classList.add("folder");
			var folderSpan = document.createElement("span");
			var folderSpanText = document.createTextNode(object.replace(parentFolder.id, ''));
			folderSpan.appendChild(folderSpanText);
			newFolder.appendChild(folderSpan);
												//parentFolder = currentFolder === root ? root : currentFolder.parentElement;
			parentFolder.appendChild(newFolder);

			currentFolder = parentFolder.lastElementChild;
			currentFolder.id = object;			//"<div class="folder" id=(currentFolder.id + "/" + object)></div>");
	//console.log("long route", root.id + "/" + object);
			var subArray = myArray.slice(currIndex+1);
			if(subArray.length<1) { 
				return;
			};

		if(subArray[0].split(currentFolder.id)[0] === subArray[0]) { // esta condicion esta mala, si son distintos igual van a ser 
				//iguales porq el split simplemente no tendra efecto

		currentFolder = (function() {while(currentFolder.id != object) {
					currentFolder = currentFolder.parentElement;
				
				}

					return currentFolder.parentElement;
			})();


					parentFolder = (currentFolder === root ? root : currentFolder.parentElement);
					parentFolder = currentFolder;
					console.log("top parent", parentFolder);
				return;
			}

			else {
			
				counter = counter + 1;
				var folderEmptyMsg = document.createTextNode("Folder is empty");
				currentFolder = parentFolder.lastElementChild;




			//	parentFolder = currentFolder.parentElement === root ? currentFolder : currentFolder.parentElement;

				parentFolder = (function() {
					console.log("parent " + parentFolder.id);
					console.log("curr " + currentFolder.id);
					console.log("object " +  object);
					if(parentFolder.id.replace("root", '') + currentFolder.id.replace(parentFolder.id, '') === object){
						// si parentFolder.id + currentFolder.id === object -> 
						// parentFolder === currentFolder.parentElement
						// ELSE
						// si parentFolder.id + currentFolder.id != object
						//parentFolder = root

						parentFolder = currentFolder.parentElement;


					} else if(parentFolder.id + currentFolder.id != object) {

						parentFolder = currentFolder;
					}

					return parentFolder;
				})();



			console.log("parent2 " + parentFolder.id);
					console.log("curr 2" + currentFolder.id);
					console.log("object 2" +  object);


				return;
			}
			console.log("amihere"); // UNREACHABLE
		subArray.length>0 ? directorize(subArray) : ""; //need to add empty folder message to empty folders later
		}
	}*/

	function createFolder(object, currIndex) {
			var object = object;
			//console.log("object is ", object);

			var newFolder = (function createTheFolder() {
				var newFolder = document.createElement("ul");//.classList.add("folder");
				newFolder.classList.add("folder");
				var folderSpan = document.createElement("span");
				var folderSpanText = document.createTextNode(object.replace(parentFolder.id, ''));
				folderSpan.appendChild(folderSpanText);
				newFolder.appendChild(folderSpan);
				newFolder.id = object;
				return newFolder;
			})();
		//	console.log("new folder id", newFolder.id);
		//	console.log("next array obj", myArray[currIndex+1]);


		currentFolder.appendChild(newFolder);



		if ((currIndex+1)<myArray.length && myArray[currIndex+1].includes(newFolder.id)) {// && newFolder.id.replace(myArray[currIndex+1], '') != "")  {
			//currentFolder = newFolder.parentElement;
		//	console.log("big calc");
			currentFolder = newFolder; //document.getElementById(currentFolder.id.split(myArray[currIndex+1].split(currentFolder.id)));
		}
		else if(currIndex+1<myArray.length){
			//currentFolder = root;

//currentFolder = document.getElementById(currentFolder.parentElement.id.split(currentFolder.id.split(currentFolder.parentElement.id))) || root;
currentFolder = document.getElementById(currentFolder.id.split(myArray[currIndex+1].split(currentFolder.id))) || root;
		} 







		//	currentFolder = if(myArray[currIndex+1]<myArray.length && myArray[currIndex+1].split())

/*
assets/ //currentFolder append assets. Sgte inclute assets ? NO! -> currentFolder = root; currentFolder.parentElement (o root)
images/ //currentFolder append images. Sgte incluye images? SI -> currentFolder = images/, parentFolder = root;
images/background // currentFolder (images/) append images/background. Siguiente incluye images/background/? SI -> currentFOlder = images/background
images/background/camera-background.jpg // deberia chequear q siguiente incluye CURRENTFOLDER y de lo contrario volver un nivel para no cagar
// siguiente incluye CURRENTFOLDER? NO! -> currentFolder = currentFolder.parentElement (/images)



images/contact //currentFolder(images/) append images/contact. Sgte incluye images/contact? SI! -> currentFolder = images/contact



images/contact/leoPhoto.jpg //images/contact/ append leophoto.... 
// SGTE incluye currentFolder (images/contact/) ? NO -> SGTE incluye parentElement? NO -> currentFolder = root, de lo contrario currentFolder = currentFolder.parentElement

// el siguiente incluye currentFolder (images/contact) ? NO -> currentFolder = root ///////////// cF.parentElement(images/). siguinte incluye newCurrentFolder (images/) ?|| currentFolder = root?  NO! -> currentFolder = cF.parentElement... hasta llegar a root.






test/ //currentFolder = root -> append (test/)
*/

			
			//currentFolder = newFolder;
			//parentFolder = currentFolder.parentElement;

		//	var fullRoute = newFolder.id.split(singleFolderREGEX);
		//	fullRoute[fullRoute.length-1].match(singleFolderREGEX) ? currentFolder = document.getElementById(fullRoute[fullRoute.length-1]) : currentFolder = document.getElementById(fullRoute[0]);











		//	currentFolder.appendChild(newFolder);
		//	currentFolder = currentFolder.lastElementChild;
		//	parentFolder = currentFolder.parentElement;


		//	console.log(newFolder);
		//	console.log("newfolder id is ", newFolder.id);


return;
	}

	function createFile(object, currIndex) {

		var file = document.createElement("li");
		file.classList.add("file");
		var fileName = document.createTextNode(object.replace(folderREGEX, ''));
		file.appendChild(fileName);
		file.id = object.replace(folderREGEX, '');
		currentFolder.appendChild(file);
		console.log("OBJECT FILE", object);
		console.log("CURRENT FOLDER FILE", currentFolder);

	/*	if (myArray[currIndex+1]<myArray.length && myArray[currIndex+1].includes(currentFolder.id)) {

			//currentFolder = currentFolder.parentElement.parentElement; // document.getElementById(currentFolder.parentElement.id.split(currentFolder.id.split(currentFolder.parentElement.id)));
			currentFolder = document.getElementById(currentFolder.id.split(myArray[currIndex+1].split(currentFolder.id))) || root;
		}*/

		//else 

		if(myArray[currIndex+1].includes(currentFolder.id)) {
				console.log("next index", myArray[currIndex+1]);

				if(myArray[currIndex+1].match(folderREGEX).input === myArray[currIndex+1].match(folderREGEX)[0]){
					currentFolder = currentFolder.parentElement;// === root ? currentFolder = root: currentFolder.parentElement;
					return;

				}


				else if(myArray[currIndex+1].match(fileREGEX).input === myArray[currIndex+1].match(fileREGEX)[0]) {
				//currentFolder = currentFolder === root ? currentFolder = root : currentFolder.parentElement;
				console.log("POPPIN");
					currentFolder = currentFolder;
					return;

				}

				else {
					currentFolder = currentFolder.parentElement;
					return;

				}
		}
		else {

			//currentFolder = currentFolder === root? root : currentFolder.parentElement;
			console.log("THE NEW FUNC");
			console.log("next", myArray[currIndex+1]);

			// do parentElement until currIndex+1 includes currentFolder, then currentFolder = currentFolder
			currentFolder = (function() {

			/*	while(root.id + myArray[currIndex+1] != root.id + currentFolder.parentElement + myArray[currIndex+1] && currentFolder != root){
					currentFolder = currentFolder.parentElement;
				}*/

				while(!myArray[currIndex+1].includes(currentFolder.id) && currentFolder != root) {
					currentFolder = currentFolder.parentElement;
				}

				return currentFolder;

			})();



			// loop parentElement until parentElement + object === root + object;
			
		}









		console.log("FOLDER AFTER MODIF", currentFolder);

		return;
	}

	function directorize(array) {

		array.map(function(element, index, array) {
			if(counter > myArray.length*5) {
				return;
			}
			else {
				if(element.match(folderREGEX).input === element.match(folderREGEX)[0]){
					//if element value == '*/' (that is, whatever value that ends in a slash), then the element is a folder
					currentIndex = index;
					counter = counter + 1;
					createFolder(element, currentIndex);
					return;
				}
				if(element.match(fileREGEX).input === element.match(fileREGEX)[0]){
					//element name is *, without a slash at the end, then it is a file.
					currentIndex = index;
					createFile(element, currentIndex);
					counter = counter + 1;
					return;
				}
				if(index+1>array.length) {
					return;
				}
			}
		});

	}

	directorize(myArray);


	function toggleSelectedState(event) {
		if(event.ctrlKey ===  true){
			event.target.classList.toggle('selected');
			return false;
		}
		else{
			return true;
		}
	}

	/*

	[].slice.call(document.getElementsByTagName("li")).map(function(element, index, array) { // hides all <li> by default...
		element.style.display = "none";
		element.addEventListener("click", function(event) {		
			toggleSelectedState(event);	
		});
	});

	[].slice.call(document.getElementsByTagName("span")).map(function(element, index, array) { //but toggles them when you click the folder's <span>

		element.addEventListener("click", function(event) {
			var continueFunction = toggleSelectedState(event);
			if(!continueFunction) {
				return
			}
			else {""};


			[].slice.call(element.parentElement.children).slice(1).map(function(element,index, array) {
				element.style.display === "none" ? element.style.display = "" : element.style.display = "none";
			});

		});

	});
*/
	$('#download-file').click(function(event) {
		event.preventDefault();

		//AJAX request sending the array of stuff to download (or just 1 thing)
		  var req = new XMLHttpRequest();
		  
		  var fullFileRoute = (function() {
		  					var selectedFile = document.getElementsByClassName('selected')[0];
		  					var routeToFile = document.getElementsByClassName('selected')[0].id;
		  					//console.log(selectedFile);

		  					while (selectedFile.parentElement.parentElement.id != root.id) {
		  						routeToFile = selectedFile.parentElement.id + routeToFile;
		  						selectedFile = selectedFile.parentElement;
		  					}

		  					return routeToFile;

							})();
		  var params = '?file=' + fullFileRoute;

		  req.open("GET", 'download_file' + params, true);
		  //console.log("open", req.open("GET", 'download_file' + params, true))
		  req.responseType = "blob";
		 

		  req.onload = function (event) {
		    var blob = req.response;
		    console.log(blob.size);
		    var link=document.createElement('a');
		    link.href=window.URL.createObjectURL(blob);
		    var fileName = document.getElementsByClassName('selected')[0].id.split('.')
		    link.download= fileName[0] + "." + fileName[1];
		    link.click();
		  };

		  req.send();

	});

	$('#delete-files').click(function(event){
		event.preventDefault();
		var deleteArray = (function() {
								var selected = [];
								[].slice.call(document.getElementsByClassName('selected')).map(function(element, index, array) {							
									selected.push(element.id);
								});
								return selected;
							})();
		$.ajax({url: "delete_file", data: JSON.stringify({files: deleteArray}) , type: 'DELETE', contentType: 'application/json', dataType: 'json'})
		//AJAX sending the array/method to use to delete the files we need to delete




	});




</script>

<%# 
Useful links to do this:


http://docs.aws.amazon.com/sdkforruby/api/Aws/S3/Client.html

	#delete_object(options = {}) ⇒ Types::DeleteObjectOutput
	Removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object.


	#delete_objects(options = {}) ⇒ Types::DeleteObjectsOutput


	#abort_multipart_upload(options = {}) ⇒ Types::AbortMultipartUploadOutput
	Aborts a multipart upload.


	To verify that all parts have been removed, so you don't get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.
	
	#get_object(options = {}) ⇒ Types::GetObjectOutput
	Retrieves objects from Amazon S3.

#head_bucket(options = {}) ⇒ Struct
This operation is useful to determine if a bucket exists and you have permission to access it.

#copy_object(options = {}) ⇒ Types::CopyObjectOutput
Creates a copy of an object that is already stored in Amazon S3.





#put_object(options = {}) ⇒ Types::PutObjectOutput
Adds an object to a bucket.

#downloads
https://ruby.awsblog.com/post/Tx354Y6VTZ421PJ/Downloading-Objects-from-Amazon-S3-using-the-AWS-SDK-for-Ruby

%>
<%= form_for(:image, url: admin_upload_path, html: {multipart: true}) do |f| %>
	<%= f.submit "Upload image" %>
	<%= f.label :image %>
	<%= f.file_field :image, class: 'upload-btn', accept: 'image/jpeg, image/gif, image/png' %>
	<%= f.hidden_field :image_cache %>


<script>
	document.getElementsByClassName('upload-btn')[0].addEventListener('change', function() {
		var size_megabytes = this.files[0].size/1024/1024
		if(size_megabytes > 5){
			alert('Maximum file size is 5 MB. Please choose a smaller file')
			}
	});
	// add clear input later
</script> 
<% end %>
</div>
