    <% if flash[:danger] %>
    <div class="notice" style="background-color:red;color:white"><%= flash[:danger] %></div>
    <% end %>


<h2>Log In</h2>
<p>Please enter your credentials</p>

<div class="Container">

    <div class="login-form">
        <%= form_for(:session, url: admin_login_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'input-field' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'input-field' %>
            <%= f.submit "Log In", class: 'submit-button' %>
            <%= f.label "remember me", class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
            <% end %>
        <% end %>
    
    </div>

</div>
