<% @user = @current_user %>
<% provide(:title, @user.name) %>
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'jquery_ujs'%>
<%= stylesheet_link_tag 'admin', media: 'all' %>
<%= stylesheet_link_tag 'file-manager', media: 'all' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tag %>

<%= render 'admin/users/menu' %>

<div class="user-data-form-container file-manager">

<div class="message-box" id="messages">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
</div>


<% s3 = Aws::S3::Client.new %>

<% 	
	if ENV["AWS_S3_BUCKET"] != nil
		files_in_bucket = s3.list_objects(bucket: ENV['AWS_S3_BUCKET']).contents.map(&:key) 
	else
		files_in_bucket = ["vacio"]
	end
%>

<script id="initial-script">
	initialArray = <%= raw files_in_bucket %> // a global to be deleted on document.ready
</script>

<span class="action-title">File Manager</span>
<span class="action-description">Here you can browse the files currently in your S3 bucket</span>
<p class='action-description'>
	Notes:<br>Left click (or long touch on mobile devices) selects/unselects files
		  <br>Double click on a folder selects the folder.
</p>

<div class="upload-dir-container open" id="root">

</div>

<%= button_to "Download file", admin_upload_path, class: 'file-manager-button', :id => "download-file", :remote => false %> 
<%= button_to "Delete files", admin_upload_path,  class: 'file-manager-button', :id => "delete-files" %>

	<span class="action-title">Upload preparation area</span>
	<span class="action-description">Here you can see how your uploaded files will be processed</span>

	<div class="file-dashboard" id="file-upload-dashboard">
		
		<div class="file-list" id="file-name">
			<span class="action-description">File name</span>
		</div>

		<div class="file-list" id="file-original-size">
			<span class="action-description">Original size</span>
		</div>
	</div>

	<%= form_tag({action: :upload_file}, multipart: true, id: 'upload-file-form') do %>
		<%= label_tag 'image' %>
		<%= submit_tag "Upload image", :id =>'upload-file' %>

		<%= file_field_tag 'image[]', accept: 'image/jpeg, image/gif, image/png', class: 'upload-btn', :id =>'file_input_field', :multiple => true %>
		<%= hidden_field_tag :image_cache %>
	<% end %>


</div>

<%= javascript_include_tag 'file-manager' %>