<% @user = @current_user %>
<% provide(:title, @user.name) %>
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'jquery_ujs'%>
<%= stylesheet_link_tag 'admin', media: 'all' %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tag %>

<%= render 'admin/users/menu' %>

<div class="user-data-form-container file-manager">

<div class="message-box" id="messages">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
</div>


<% s3 = Aws::S3::Client.new %>

<% files_in_bucket = s3.list_objects(bucket: ENV['AWS_S3_BUCKET']).contents.map(&:key) %>

<script id="initial-script">
initialArray = <%= raw files_in_bucket %> // a global to be deleted on document.ready
</script>

<%# not sure if its worth to add these specific styles to another file/to admin.scss, since it's so little %>

<style>
body {
	flex-direction: column;
}

li {
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	list-style-type: disc;
	list-style-position: inside;
}

ul, span {
	cursor: pointer;
}

.upload-dir-container {
	border: 1px solid blue;
	background-color: rgb(200, 200, 200);
	text-decoration: underline blue;

}

.message-box {
	display: flex;
	position: relative;
	margin: auto;
	width: 100%;
	justify-content: center;

}
.selected {
	background-color: #7784D9;
	color: white;
	font-weight: bold;
	font-style: italic;
	border-radius: 2px;
	border: 1px solid blue;
}

form {
	width: 100%;
}

</style>

<span class="action-title">File Manager</span>
<span class="action-description">Here you can browse the files currently in your S3 bucket</span>
<p class='action-description'>Notes:<br>Ctrl + left click (or long touch on mobile devices) selects/unselects files</p>

<div class="upload-dir-container" id="root">

</div>

<%= button_to "Download file", admin_upload_path, class: 'file-manager-button', :id => "download-file", :remote => false %> 
<%= button_to "Delete files", admin_upload_path,  class: 'file-manager-button', :id => "delete-files" %>

<%= form_for(:image, url: admin_upload_path, html: {multipart: true, id: 'upload-file-form'}) do |f| %>
	<%= f.submit "Upload image", :id =>'upload-file' %>
	<%= f.label :image %>
	<%= f.file_field :image, class: 'upload-btn', accept: 'image/jpeg, image/gif, image/png', :id =>'file_input_field', :multiple => true %>
	<%= f.hidden_field :image_cache %>
<% end %>
</div>

<%= javascript_include_tag 'file-manager' %>