  
<h1>Website</h1>

<p>
  <%= @greeting %>,<br>
  You have received a message with the following content:<br>
  From: <%= @name %><br>
  Client email: <%= @email %><br>
  Subject: <%= @subject %><br>
  Message: <%= @cl_message %><br>
</p>
  
    
    
    
    
    

  </body>
</html>



