<script src="//cdn.ckeditor.com/4.5.10/full/ckeditor.js"></script>
<style>

    .editor-heading {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .editor-container {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
</style>


<h3 class="editor-heading">Here you can create new posts for the blog</h3>
<div class="editor-container">
    
    
<%= form_for(:post, url: admin_posts_path) do |f| %>
    <%= f.label  "Post title" %><br>
    <%= f.text_area :title, :id => 'post-title', class: "post-title" %><br>
        <script>
                    CKEDITOR.replace('post-title', {height: '40', width: '100%', toolbar: [
    [ 'Source', '-', 'Bold', 'Italic', 'Underline', 'Font', 'FontSize', 'Styles', 'Format', ]
], language: 'en'});   

        </script>
        
    <%= f.label "Post content" %><br>
    <%= f.text_area :content, :id =>"post-content", class: "post-editor", :contenteditable => "true" %>
            <script> 

                CKEDITOR.replace( 'post-content', {language: 'en'} );

            </script>
    <%= f.button "Upload image" %>
    <%= f.submit "Submit Post", class: "submit-button" %>
            
<% end %>


</div>
