<script src="//cdn.ckeditor.com/4.5.10/full/ckeditor.js"></script>

<%= stylesheet_link_tag    'application', media: 'all'%>
<meta name="viewport" content="width=device-width, initial-scale=1., user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Stalemate&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<div class="sitewrapper" id="sitewrapper">  
    <%= render '/layouts/header' %>

    <div class="jumbotron">
        <div class="content-Tabs" id="blogContents">

            <div class="post-container" id="post-container">
                <%= form_for(:post, url: admin_posts_path) do |f| %>
                <%= f.text_area :title, :id => 'post-title', class: "post-title", :contenteditable => "true", :value => "POST TITLE" %>
                    <script>
                        CKEDITOR.disableAutoInline = true;
                        CKEDITOR.inline('post-title', {height: '40', width: '100%', toolbar: [
                        [ 'Source', '-', 'Bold', 'Italic', 'Underline', 'Font', 'FontSize', 'Styles', 'Format', ]
                        ], language: 'en'});   
                    </script>
                <%= f.text_area :content, :id =>"post-content", class: "post-editor", :contenteditable => "true", :value =>"POST CONTENT" %>
                    <script> 
                        CKEDITOR.disableAutoInline = true;
                        CKEDITOR.inline( 'post-content' );
                    </script>
                <hr>
                <%= f.button "Upload image" %>
                <%= f.submit "Submit Post", class: "submit-button" %>
                        
                <% end %>  
            </div>
            
            <div class="post-sidebar">
              <%= render 'layouts/tabs/blogTab_sidebar'%>
            </div>

        </div>
    </div>
<%= render '/layouts/bottomBar' %>
</div>