<script src="//cdn.ckeditor.com/4.5.10/full/ckeditor.js"></script>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'style-main', media: 'all'%>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery_ujs' %>
<meta name="viewport" content="width=device-width, initial-scale=1., user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Stalemate&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<div class="sitewrapper" id="sitewrapper">  
    <%= render '/layouts/header' %>

    <div class="jumbotron">
        <div class="content-Tabs" id="blogContents">

            <style>
            form {
                width: 100%;
                display:flex;
                flex-direction: column;
             /*   margin: 20px auto 20px auto;*/
            }
            input {
                max-width: 150px;
            }

            .post-container {
                flex-direction: column;
            }

            div[title="Rich Text Editor, post-title"] {
                min-height: 50px;
            }
            div[title="Rich Text Editor, post-content"] {
                min-height: 250px;
            }
            .message-box {

                z-index: 2;
                border: 1px solid white;
                background-color: #333;
                margin: auto;
                text-align: center;
                min-height: 50px;


            }
            .alert-info{
                width: 100%;
            }
            .alert-danger {
                width: 100%;
            }

            .message-box span.uploaded-file-list-item:first-of-type {
                font-weight: bold;
                border: 1px solid white;
                font-size: 110%;
                padding: 0 10px 0 10px;
            }
            .action-description {
                width: 100%;
                background-color: #333;
                border: 1px solid white;
                text-align: center;
            }
            .dummy {
                display: none;
            }
            .ImagePreviewBox {
                resize:both;
            }
        

            </style>




            <div class="post-container" id="post-container">
                <%= form_for(:post, url: admin_posts_path, html: {multipart: true}) do |f| %>

                    <%= f.text_area :title, :id => 'post-title', class: "post-title", :contenteditable => "true", :value => "POST TITLE" %>
                        <script>
                            CKEDITOR.disableAutoInline = true;
                            CKEDITOR.inline('post-title', { toolbar: [
                            [ 'Source', '-', 'Bold', 'Italic', 'Underline', 'Font', 'FontSize', 'Styles', 'Format', ]
                            ], language: 'en'});   
                        </script>
                    <%= f.text_area :content, :id =>"post-content", class: "post-editor", :contenteditable => "true", :value =>"POST CONTENT" %>
                        <script> 
                            CKEDITOR.disableAutoInline = true;
                            CKEDITOR.inline( 'post-content' );
                        </script>
                    <hr>
                    <%= f.label "Submit post" %>
                    <%= f.submit "Submit Post", class: "submit-button" %>    
                        
                <% end %> 
                                <hr>
                <%#= f.file_field :image, accept: 'image/jpeg, image/gif, image/png', class:'upload-btn' %>
                <%= form_tag({controller: :admin, action: :upload_file, file_route: 'images/posts/'},  multipart: true, id: 'upload-file-form') do %>
                    
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   
                    <%= label_tag 'Upload image' %>
                    <%= file_field_tag 'image[]', accept: 'image/jpeg, image/gif, image/png', class: 'upload-btn', :id =>'file_input_field' %>
                    <%= hidden_field_tag :image_cache %>
      
                    <%= submit_tag "Upload image", :id =>'upload-file' %>
                       <hr>
                <% end %>
            </div>
           <!-- Prob have to leave out the submit forms because they make it so the css here is not consistent with the true front end -->
            
            <div class="post-sidebar">
             <span class="action-description">Messages<br></span>
                <div class="message-box" id="messages">
                <span id="empty">No messages</span>



                </div>

              <%= render 'layouts/tabs/blogTab_sidebar'%>
            </div>

        </div>
    </div>
<%= render '/layouts/bottomBar' %>
</div>

<script>
    function ajaxFunctions() {
        /****************** IMAGE UPLOADER    ***********************/
        var parentWidth = getComputedStyle(document.querySelector(".post-sidebar")).width
        document.querySelector("#messages").style.width = parentWidth;

        $("#upload-file").click(function(event) {
            event.preventDefault();
            var uploadRoute = "posts/";
            var files = document.getElementById("file_input_field").files[0];

            var formData = new FormData();

	 	    var utf = document.querySelectorAll("input[name='utf8']")[0].getAttribute("value");
            var authenticityToken = document.querySelectorAll("input[name='authenticity_token']")[0].getAttribute("value");
            
            formData.append("utf-8", utf);
	        formData.append("authenticity-token", authenticityToken);
	        formData.append("file_route", uploadRoute);

            if (files.type.match('image.*')) {

                formData.append("image[]", files, files.name);

            }

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/admin/upload', true);
            xhr.setRequestHeader('X-CSRF-TOKEN', document.querySelectorAll('meta[name="csrf-token"]')[0].getAttribute("content"));

            xhr.send(formData);

            xhr.onload = function() {
                if(xhr.status === 200) {

                    var dummyElement = createElement("div", "dummy", "message-dummy", xhr.response);
     
                    document.body.appendChild(dummyElement);

                    dummyElement.querySelectorAll('span.uploaded-file-list-item').forEach(function(element){
                        element.innerHTML = "/" + element.innerHTML;
                    });

                    $("#messages").html(dummyElement.innerHTML + $("#messages").html());

                    document.body.removeChild(dummyElement);
                }
                else {
                    $("#messages").html("Woops, something unexpected happened");
                }
                if(document.querySelector("#empty")) {
                    document.querySelector("#empty").parentElement.removeChild(document.querySelector("#empty"));
                }
                document.querySelector("#file_input_field").value = "";
            }


        });

        function createElement(type, cssClass, id, content) {
            var innerHTML;
            typeof content === "undefined" ? innerHTML = "" : innerHTML = content;
            var newEl = document.createElement(type);
            newEl.id = id;
            newEl.className = cssClass;
            newEl.innerHTML = innerHTML;

            return newEl;
        }
        
        /****************** /IMAGE UPLOADER    ***********************/

        /****************** POST SUBMIT     *************************/

        $(document).on("ajax:success", function() {

            alert("post successfully submitted!");

        });

        $(document).on("ajax:error", function() {

            alert("Woops, there was an error. Please try again");

        });






        /****************** /POST SUBMIT     *************************/



    }
  $(document).ready(ajaxFunctions);
</script>