<head>
	<%= javascript_include_tag 'jquery' %>
  <%= stylesheet_link_tag 'style-main', media: 'all'%>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Stalemate&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   
</head>
<body>

<div class="sitewrapper" id="sitewrapper">
  <%= render 'layouts/header' %>
  <div class="jumbotron" id="jumbotron">

  <%= render "layouts/jumbotron" %>
  </div>
  <%= render 'layouts/bottomBar' %>
</div>


  <%= javascript_include_tag 'script-main' %>
	<%= javascript_include_tag 'jquery_ujs' %>

</body>