<div class="sitewrapper" id="sitewrapper">

<%= render 'layouts/header' %>

<div class="jumbotron" id="jumbotron"> <!-- jumbotron ID used for the moving the social media contact boxes"-->


  <!--this container is needed to set up the dark grey transparent bg when thumbnail photos are clicked and shown to size-->
<%= render 'layouts/tabs/homeTab' %>
<%= render 'layouts/tabs/peopleTab' %>
<%= render 'layouts/tabs/modelsTab' %>
<%= render 'layouts/tabs/urbanTab' %>
<%= render 'layouts/tabs/eventsTab' %>
<%= render 'layouts/tabs/contactTab' %>
<%= render 'layouts/tabs/blogTab' %>


</div>


<%= render 'layouts/bottomBar' %>



</div>