<% provide(:title, @user.name) %>
<%= javascript_include_tag 'application'%> 
<%= stylesheet_link_tag 'admin', media: 'all' %>
<meta name="viewport" content="width=device-width, initial-scale=1., user-scalable=no">
<%= csrf_meta_tag %>

<div class="profile-main">
<%= render 'admin/users/menu' %>

    <% if flash[:danger] %>
        <div class="notice" style="background-color:red;color:white"><%= flash[:danger] %></div>
    <% end %>

<%= render 'admin/users/profile_info' %>
<hr>
<% if @user.posts.any? %>
    <%= render 'admin/users/own_posts' %>
<% end %>
<hr>
<% if Post.count - @user.posts.count > 0  && @user == current_user %>
    <%= render 'admin/users/other_posts' %>
<% end %>
</div>


