<% provide(:title, @user.name) %>
<%= javascript_include_tag 'application'%> 
<%= csrf_meta_tag %>

<style>
    .profile-main {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        font-family: Calibri, Helvetica, Sans-serif;
    }
    
</style>
<div class="profile-main">
<%= render 'admin/users/menu' %>

    <% if flash[:danger] %>
    <div class="notice" style="background-color:red;color:white"><%= flash[:danger] %></div>
    <% end %>
    
<%= render 'admin/users/profile_info' %>

<% if @user.posts.any? %>
    <%= render 'admin/users/own_posts' %>
<% end %>

<% if Post.count - @user.posts.count > 0  && @user == current_user %>
    <%= render 'admin/users/other_posts' %>
<% end %>
</div>

