<% provide(:title, @user.name) %>
<%= javascript_include_tag 'application'%> 
<%= csrf_meta_tag %>

<%= render 'admin/users/menu' %>

    <% if flash[:danger] %>
    <div class="notice" style="background-color:red;color:white"><%= flash[:danger] %></div>
    <% end %>
    
<span class="userName"><%= @user.name %></span><br>
<span class="userEmail"><%= @user.email %></span><br>
<span class="creationDate"><%= "created at: #{@user.created_at}"%></span><br>
<span class="updateDate"><%= "updated at #{@user.updated_at}" %></span><br>

<% if @user.posts.any? %>

    <h3><%= @user.name %>'s posts</h3>
    
        <% @posts.each do |post| %>
            <% clean_post_title = sanitize post.title, tags: %w(strong em a div p img) %>
            <ol class="posts"><%= link_to clean_post_title,  admin_post_path(post) %>, <%= link_to "  |  delete this post", admin_post_path(post),
            method: 'delete', class: "post-delete", data: {confirm: "Are you sure? This action cannot be undone"} %></ol>
        <% end %>
        
<% end %>

<% if Post.count - @user.posts.count > 0  && @user == current_user %>
    <%= render 'admin/users/other_posts' %>
<% end %>


