<div class="headerBackground" id="headerBackground">
  <div class="header" id="header">
    
      <ul class="companyName">
        <li class="liName"><a href="/home">S lika Photography</a></li>
      </ul>
      <ul class="menu" id="menu">
        <li class="navMenu" id="homeTab"><%= link_to content_tag(:span, "Home"), "/home" %></li>
        <li class="navMenu" id="peopleTab"><%= link_to content_tag(:span, "People"), "/people" %></li>
        <li class="navMenu" id="modelsTab"><%= link_to content_tag(:span, "Models"), "/models" %></li>
        <li class="navMenu" id="urbanTab"><%= link_to content_tag(:span, "Urban"), "/urban" %></li>
        <li class="navMenu" id="eventsTab"><%= link_to content_tag(:span, "Events"), "/events" %></li>
        <li class="navMenu" id="contactTab"><%= link_to content_tag(:span, "Contact Us"), "/contact" %></li>
        <li class="navMenu" id="blogTab"><%= link_to content_tag(:span, "Blog"), "/blog" %></li>
      </ul>
    
  </div>
</div>

<hr class="topHr" id="topHr">