<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
<%= csrf_meta_tags %>

</head>
<body>





<%= yield %>


  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag 'script-main'%> 
</body>
</html>
